# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.sqlite3
backend/.env
backend/db.sqlite3
backend/media/
backend/staticfiles/
.venv/
venv/

# Node / Next
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/
frontend/.turbo/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
